body {
    font-family: 'Roboto Mono', monospace; /* Changed to Roboto Mono */
    background-color: black; /* Set background to black */
    color: white; /* Keep font color white */
}

header {
    background-color: #4CAF50; /* Header background color */
    color: white; /* Header text color */
    text-align: center; /* Centered text */
}

#profile-pic {
    width: 150px; /* Profile picture width */
}

section {
    padding: 20px; /* Section padding */
}

footer {
    background-color: #f1f1f1; /* Footer background color */
    padding: 10px; /* Footer padding */
    text-align: center; /* Centered footer text */
}

a {
    color: brightred; /* Hyperlink color set to bright red */
}
